html {
  --primary-color: #0290ff;
  --background-color: #f5f6fa;
  --border-color: #e8e8e8;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}
header {
  background-color: #fff;
  border-bottom: 2px solid var(--border-color);
  color: var(--primary-color);
}
nav {
  display: flex;
}
nav,
.BookList {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}
header h1 {
  font-weight: bold;
  margin: 0.5rem 0;
}

.Book {
  text-align: left;
  max-width: 1200px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: #ffffff;
  margin: 1rem 0;
  padding: 1rem;
  font-family: 'Roboto Slab', serif;
}
.Book-category {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  opacity: 0.5;
}
.Book-title {
  margin: 0.25rem 0 0 0;
}
.Book-id {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 0.85rem;
}
.Book-id:before {
  content: 'ID:';
  margin-right: 0.25rem;
}
.Book-remove {
  color: var(--primary-color);
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 1rem;
  cursor: pointer;
}
