html {
  --color: hsl(0, 0%, 10%);
  --color-light: hsl(0, 0%, 50%);
  --color-lighter: hsl(0, 0%, 70%);
  --primary-color: #0290ff;
  --background-color: #f5f6fa;
  --border-color: #e8e8e8;
  font-size: 14px;
  @media screen and (min-width: 620px) {
    font-size: 16px;
  }
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--color);
}

header {
  background-color: #fff;
  border-bottom: 2px solid var(--border-color);
  color: var(--primary-color);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    h1 {
      font-weight: bold;
      margin: 0.5rem 0;
    }
    label {
      color: var(--color);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    select {
      background-color: white;
      margin: 0 0 0 1rem;
    }
  }
  @media screen and (min-width: 620px) {
    nav {
      flex-direction: row;
    }
  }
}
nav,
.BookList,
.form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
select,
input {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border-color);
  margin-bottom: 0.5rem;
}
select, input, button {
  font-size: 1rem;
}
.form {
  padding: 0 1rem;
  form {
    border-bottom: 2px solid var(--border-color);
    padding: 0 0 2rem;
    margin: 2rem auto 1rem;
    h4 {
      color: var(--color-light);
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: bold;
    }
    .autocomplete {
      display: flex;
    }
    .autocomplete,
    select {
      flex-grow: 1;
    }
    input, select {
      padding: 0.5rem;
      background-color: white;
    }
    input {
      width: 100%;
    }
    select.inactive,
    input::placeholder {
      color: var(--color-lighter);
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    button {
      border-radius: 4px;
      background-color: var(--primary-color);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
    }
    @media screen and (min-width: 620px) {
      .autocomplete {
        flex-grow: 2;
      }
      select {
        margin: 0 1rem;
      }
      > div {
        flex-direction: row;
        align-items: baseline;
      }
    }
  }
}

.Book {
  text-align: left;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: #ffffff;
  margin: 1rem 0;
  padding: 1rem;
  font-family: 'Roboto Slab', serif;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  justify-items: start;
  align-items: end;
  grid-template-areas: 
    'img category'
    'img title'
    'img id'
    'img remove'
  ;
  img {
    height: 100px;
    grid-area: img;
    align-self: start;
  }
  .Book-category {
    grid-area: category;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--color-light);
  }
  .Book-title {
    grid-area: title;
    margin: 0.25rem 0 0 0;
  }
  .Book-id {
    grid-area: id;
    text-transform: uppercase;
    color: var(--color-light);
    font-size: 0.75rem;
  }
  .Book-id:before {
    content: 'ID:';
    margin-right: 0.25rem;
  }
  .Book-remove {
    grid-area: remove;
    color: var(--primary-color);
    border: none;
    background-color: transparent;
    padding: 0;
    margin-top: 1rem;
    cursor: pointer;
  }
}
.autocomplete {
  position: relative;
  input {
    z-index: 1;
  }
  ul {
    font-size: 1rem;
    background-color: white;
    position: absolute;
    list-style: none;
    top: calc(100% - 0.5rem);
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 0.5rem 0px var(--color-lighter);
    z-index: 0;
    li {
      padding: 0.25rem 0.5rem;
      &:hover, &:focus {
        background-color: var(--border-color);
      }
      cursor: default;
    }
  }
}
